body {
    background-color: #181818;
    font-weight: normal;
}
.join-Now {
    
    /* --bs-btn-padding-x: 5 rem; */
    &:active {
        opacity: 0.8;
    }
}


@media (max-width: 575px) {
    #nav-tagline {
        display: none;
    }
}